/* ------------ Globel Rules ------------ */
:root {
    /* Font */
    --font-color-1: #1ec1cb;
    --font-color-2: #ffffff;
    --font-color-3: #1c1c28;
    --description-color: #536179;

    /* Background */
    --background-color-1: #2a2a3c;
    --background-color-2: #1c1c28;

    /* Shadow */
    --shadow-color: rgba(30, 30, 60, 0.2);

    /* Effects */
    --normal-color: #1ec1cb;
    --hover-color: #1baab1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--background-color-1);
}

::-webkit-scrollbar-thumb {
    background-color: var(--normal-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--hover-color);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

*:focus {
    outline: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* input[type="checkbox"],
input[type="radio"] {
    appearance: none;
} */

body {
    background: var(--background-color-1);
    min-height: 100vh;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* ------------ Header ------------ */
header {
    box-shadow: 0 4px 24px var(--shadow-color);
    background: var(--background-color-2);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.name-header {
    font-size: 2rem;
    color: var(--font-color-1);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    transition: color 0.2s;
}

.name-header:hover {
    color: var(--hover-color);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

nav a {
    text-decoration: none;
    color: var(--font-color-1);
    border-radius: 6px;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: all 0.2s;
}

nav a:hover,
nav a.active {
    background: var(--hover-color);
    color: var(--font-color-3);
}

hr {
    border: 0.1rem solid var(--normal-color);
}

.section-header {
    color: var(--font-color-1);
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.section-image {
    max-width: 100%;
    box-shadow: 0 4px 24px var(--shadow-color);
    border-radius: 10px;
    transition: 0.2s;
}

.section-image:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px var(--shadow-color);
}

/* ------------ Main ------------ */
main {
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero .container,
.about .container {
    display: flex;
    align-items: center;
    gap: 5rem;
    background: var(--background-color-2);
    box-shadow: 0 2px 16px var(--shadow-color);
    padding: 2rem;
    border-radius: 1rem;
}

.contact .container,
.projects .container {
    background: var(--background-color-2);
    box-shadow: 0 2px 16px var(--shadow-color);
    padding: 2rem;
    border-radius: 1rem;
}

.description {
    font-size: 1rem;
    color: var(--description-color);
    line-height: 1.8;
}

@media (max-width: 767px) {
    header {
        width: 100vw;
    }

    .hero .container {
        flex-direction: column-reverse;
        gap: 10px;
    }

    .about .container {
        flex-direction: column;
        gap: 10px;
    }

    .hero .actions a {
        font-size: 13px;
        padding: 10px 20px;
    }
}

/* ------ Hero Section ------ */

.welcome {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.welcome h1 {
    font-size: 3rem;
    color: var(--font-color-2);
}

.name {
    font-size: 4rem;
    color: var(--font-color-1);
}

.job-title {
    font-size: 2rem;
    color: var(--font-color-1);
    text-decoration: underline;
    transition: all 0.2s;
}

.hero a {
    margin-right: 1rem;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: var(--normal-color);
    color: var(--font-color-3);
    border: none;
    cursor: pointer;
    display: inline-block;
    width: fit-content;
    border-radius: 6px;
    box-shadow: 0 4px 16px var(--shadow-color);
    transition: 0.2s;
}

.hero a:hover {
    transform: scale(1.05);
    background-color: var(--hover-color);
}

/* ------ About Section ------ */
.info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.information-name {
    display: inline-block;
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: var(--font-color-1);
}

.information-content {
    display: inline-block;
    font-size: 1rem;
    color: var(--font-color-1);
}

.information-name p,
.information-content p {
    margin-bottom: 1rem;
}

.information-name p:last-child,
.information-content p:last-child {
    margin-bottom: 0;
}

/* ------ Projects Section ------ */
.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1rem;
}

.project-card {
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--font-color-3);
    background: var(--normal-color);
    box-shadow: 0 2px 8px var(--shadow-color);
    border-radius: 1rem;
    text-align: center;
    transition: 0.2s;
}

.project-card:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 32px var(--shadow-color);
}

/* ------ Contact Section ------ */
.contact-info {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    gap: 2rem;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    gap: 1rem;
}

.links a {
    width: 40px;
    height: 40px;
    padding: 0.5rem;
    background-color: var(--normal-color);
    border-radius: 50%;
    transition: all 0.2s;
    display: inline-block;
}

.links a:hover {
    transform: scale(1.1);
}

.links a img {
    width: 100%;
    object-fit: contain;
}

.form h3 {
    margin: 1rem auto;
    text-align: center;
    font-size: 1.5rem;
    color: var(--font-color-1);
}

form {
    display: grid;
    gap: 2rem;
}

.user-information {
    display: flex;
    justify-content: center;
    border: none;
    gap: 1rem;
}

.user-information input {
    height: auto;
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    background-color: var(--background-color-1);
    color: var(--font-color-1);
    border: 0.1rem solid var(--normal-color);
}

#comment {
    padding: 1rem;
    font-size: 1rem;
    background-color: var(--background-color-1);
    color: var(--font-color-1);
    border: 0.1rem solid var(--normal-color);
    resize: none;
}

#submit {
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--background-color-1);
    color: var(--font-color-1);
    border: 0.1rem solid var(--normal-color);
    cursor: pointer;
    transition: all 0.2s;
}

#submit:hover {
    background-color: var(--hover-color);
    color: var(--font-color-3);
}

/* ------------ Footer ------------ */

footer {
    padding: 2rem 0;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 1px;
    color: var(--description-color);
    background: var(--background-color-2);
    box-shadow: 0 -2px 8px var(--shadow-color);
}