* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

hr {
    border: none;
    border-top: 2px solid black;
    margin: 10px 0;
}

body h1 {
    text-align: center;
    margin-bottom: 20px;
}

.checkout {
    max-width: 600px;
    margin: 100px auto;
    background: #fff;
    padding: 20px;
    border: 2px solid black;
}

.checkout h2 {
    display: block;
    margin: 10px 0;
    font-weight: bold;
    text-align: center;
}

/* .checkout img {
    border: 2px solid black;
} */

.checkout label {
    display: block;
    margin: 5px 0;
    font-weight: bold;
}

.checkout input[type="text"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px 0;
    border: 2px solid #ccc;
}

.checkout input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: white;
    color: black;
    border: 2px solid black;
    font-size: 16px;
    cursor: pointer;
}

.checkout input[type="submit"]:hover {
    background-color: black;
    color: white;
}

.checkout p {
    margin: -5px auto 10px auto;
    color: brown;
}

