* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    border: 5px solid #00c8c8;
    padding: 40px;
}

.container h1 {
    color: #008a8a;

}

.container input[type="number"] {
    padding: 20px;
    border: 5px solid #00c8c8;
}

.container input[type="number"]:focus {
    outline: none;
}