* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.blog-post-card {
    width: 400px;
    text-align: left;
    margin: 30px auto;
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
}

.post-img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid black;
    border-radius: 8px 8px 0 0;
}

.post-content {
    padding: 20px;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
    margin: 5px;
    color: #333;
}

.post-excerpt {
    margin: 10px 0;
    color: #666;
    font-size: 14px;
    line-height: 1.5;
    text-align: justify;
}

.read-more {
    display: inline-block;
    margin: 10px auto;
    padding: 10px 15px;

    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
}

.read-more:hover {
    background-color: #333;
}