/* Global Rules */
:root {
    --font-color: #1c1c28;
    --background-color-1: #2a2a3c;
    --background-color-2: #1c1c28;
    --normal-color: #1ec1cb;
    --hover-color: #1baab1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--background-color-1);
}

::-webkit-scrollbar-thumb {
    background-color: var(--normal-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--hover-color);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color-1);
}

.container {
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

h1 {
    color: var(--normal-color);
    text-align: left;
    margin-top: 50px;
    padding-left: 50px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--font-color);
    background-color: var(--normal-color);
    padding: 10px 20px;
    display: block;
    width: fit-content;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s;
}

li:last-of-type a {
    background-color: var(--background-color-1);
    color: var(--hover-color);
}

a:hover {
    transform: translateX(10px);
}

/* Main Section */

.container .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--background-color-2);
}

/* main .container ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
    margin-top: 50px;
}

@media (max-width: 767px) {
    main .container ul {
        grid-template-columns: minmax(100px, 1fr);
        padding: 0 10px;
        gap: 20px;
    }
} */