* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    padding: 5px;
    border: 2px solid #ccc;
    border-spacing: 5px;
    margin: 50px auto;
}

table caption {
    padding: 10px;
    background-color: #eee;
    font-weight: bold;
    text-align: center;
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
}

table span {
    font-size: 8px;
    font-style: italic;
}

table td {
    width: 150px;
    background-color: #eee;
    padding: 5px;
    border: 2px solid #ccc;
}

table thead td {
    background-color: #ccc;
    font-weight: bold;
    text-align: center;
    border: 2px solid #b0b0b0;
}

@media (max-width: 600px) {
    table {
        padding: 5px;
        border: 2px solid #ccc;
        border-spacing: 5px;
        margin: auto;
    }


    table td {
        width: 20%;
        height: 30%;
        font-size: 15px;
    }
}