* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

body {
    background-color: #280905;
    font-family: "Cairo", Arial, Helvetica, sans-serif;
}

header {
    height: 8vh;
    background-color: #740A03;
    display: flex;
    justify-items: center;
    align-items: center;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .left {
    display: flex;
    align-items: center;
}

header .left i {
    width: 40px;
    height: 40px;
    padding: 20px;
    background-color: #C3110C;
    color: white;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

header .left div span {
    display: block;
    color: white;
}

header .left div span:first-child {
    font-size: 18px;
    font-weight: bold;
}

header .left div span:last-child {
    font-size: 15px;
    margin-top: -10px;
    color: #ccc;
}

header .right .actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 767px) {
    header .right .actions {
        gap: 5px;
    }

    header .left i {
        width: 30px;
        height: 30px;
        padding: 10px;
    }
}

header .right li {
    background-color: transparent;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 6px;
    padding: 20px;
    cursor: pointer;
    transition: 0.3s;
}

header .right li:hover {
    background-color: #f3f4f422;
}

main {
    text-align: center;
    max-width: calc(100vh - 200px);
    margin: 0 auto;
    padding: 20px;
}

main h1 {
    color: white;
}

@media (max-width: 767px) {
    main h1 {
        font-size: 1.5rem;
    }
}

main p {
    color: #ccc;
    margin: 0 0 20px;
}

main .input {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 40px;
    margin-top: 30px;
}

main .input input {
    flex: 1;
    height: 100%;
    border: 2px solid #ccc;
    background-color: transparent;
    color: white;
    padding: 10px;
    border-radius: 6px;
    position: relative;
    transition: 0.3s;
}

main .input input::before {
    font-family: var(--fa-family-classic);
    content: "\f0c1";
    font-weight: 100;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
}

main .input input:focus {
    border-color: #C3110C;
    outline: 2px solid #C3110C;
    outline-offset: 3px;
}

main .input button {
    height: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    background-color: #C3110C;
    color: white;
    cursor: pointer;
    outline: 2px solid #C3110C;
    outline-offset: 0;
    transition: 0.3s;
}

main .input button:hover {
    outline-offset: 3px;
}

main .input button:active {
    transform: scale(0.9);
}

main .output {
    height: 48vh;
    border: 2px solid white;
    margin-top: 20px;
    width: 100%;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

main .output i {
    color: #777;
    font-size: 50px;
}

main .output h2 {
    color: white;
}

main .output p {
    color: #777;
}

footer {
    height: 8vh;
    text-align: center;
    color: #777;
    border-top: 1px solid #777;
    padding: 20px;
    display: block;
}